body {
  margin: 0;
  padding: 50px 0;
  background: #f69a73;
}

* {
  box-sizing: border-box;
}

.wrapper {
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 1400px;
}

.content {
  padding: 40px 0;
}



/* ------------------------------
  Header */

.header {
  font-family: 'Montserrat', sans-serif;
  padding: 30px 0;
  border-bottom: 1px solid #C0C0C0;
}



.nav_title {
  font-size: 22px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.nav_subtitle {
  color: #707981;
  margin: 0;
}

.header_btn {
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background-color: #FD5026;
  border: none;
  border-radius: 25px;
  margin-right: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}

.header_btn:hover {
  background: #FD5026;
  box-shadow: 0 15px 20px rgba(253, 80, 38, .4);
  color: white;
  transform: translateY(-7px);
}

.header_btn:focus{
  background:#FD5026 !important;
  border: none !important;
  box-shadow: none !important;
}

.header_item {
  margin-right:10px ;
}

/*---------------------------------------
 Form */
.form {
  position: relative;
  max-width: 400px;
  margin: 20px auto 20px;
  border-radius: 30px;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
}

.form_inner {
  padding: 50px;
}

.form_inner h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #707981;
}

.form_inner input,
textarea {
  display: block;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 10px;
  background: #E9EFF6;
  border: none;
  border-radius: 20px;
  line-height: 40px;
}

.form_inner textarea {
  max-height: 250px;
  min-height: 80px;
  line-height: 30px;
}

.form_inner [type="submit"] {
  margin-top: 30px;
  color: #fff;
  font-size: 14px;
  border: none;
  background-color: #FD5026;
  border-bottom: 4px solid #db451f;
}

.form_inner [type="submit"]:active {
  box-shadow: 0 0 0 60px rgba(0, 0, 0, .05) inset;
}
.form-select_menu { 
  width: 100%;
  margin-bottom: 10px;
}

.dropzone {

  display: flex;
  align-items: center;
  width: 450px;
  max-width: 100%;
  padding: 25px;
  border: 2px dashed rgba(253, 80, 38, 0.4);
  border-radius: 10px;
  transition: 0.2s;
}

.fake-btn {
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(253, 80, 38, 0.5);
  border-radius: 10px;
  padding: 8px 15px;
  margin-right: 10px;
  font-size: 12px;
  text-transform: uppercase;
}

.file-msg {
  font-size: small;
  font-weight: 300;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



/* collect */

.collect-header {
  margin: 10px 0 40px
}

.collect-header h2 {
  margin: 0;
}

.collect-theme {
  margin-top: 20px;
  font-size: 20px;
  color:#db451f;
  font-weight: bold;
}

.collect-card{
  border-radius: 30px;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
  border: none;
	overflow: hidden;
}

.collect-title {
  margin: 35px 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  
}
.overflow {
  height: 300px;
  overflow: hidden;
}

.collect-card {
  width: 100%;
  margin-bottom: 65px;
}

.collect-card_title {
  font-size: 20px;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
}

.collect-card_theme {
  color: #FD5026
}

.collect_icon {
  cursor: pointer;
}

.formControl {
  width: 300px;
  max-width: 300px;
}


.card {
  border-radius: 10px;
  margin-top: 50px;
  border: 1px solid lightgray;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.card .name {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}

.card .tags {
  text-align: center;
  padding: 5px 0;
}

.card .card-footer {
  border-top: 1px solid lightgray;
  padding: 5px 0;
  align-items: center ;
}

.card svg {
  cursor: pointer;
  margin-right: 5px;
}

/* .likeBttn {
  color: #1e90ff
}
.unlikeBttn {
  color: #000;
} */

.main-btn {
  color: #fff;
  font-size: 14px;
  border: none;
  background-color: #FD5026;
  border-bottom: 4px solid #db451f;
}


/* body.light {
  --background-color: var(--white);
  --text-color: var(--blue);
  --font-weight: 400;
  --image: url("../day.jpg");
}

body.dark {
  --background-color: var(--blue);
  --text-color: var(--white);
  --font-weight: 500;
  --image: url("../night.jpg");
} */
